<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab_inf_gerais" data-toggle="tab">INFORMAÇÕES GERAIS</a></li>
  {% if tipo_pessoa == 'transportadora' %}
  <li role="presentation"><a href="#tab_veiculo" data-toggle="tab">VEÍCULO</a></li>
  {% endif %}
  <li role="presentation"><a href="#tab_endereco" data-toggle="tab">ENDEREÇO</a></li>
  <li role="presentation"><a href="#tab_contato" data-toggle="tab">CONTATO</a></li>
  <li role="presentation"><a href="#tab_banco" data-toggle="tab">DADOS BANCÁRIOS</a></li>
  <li role="presentation"><a href="#tab_documento" data-toggle="tab">DOCUMENTOS ADICIONAIS</a></li>
  {% if tipo_pessoa == 'cliente' and object %}
  <li role="presentation"><a href="#tab_vendas" data-toggle="tab">VENDAS</a></li>
  {% elif tipo_pessoa == 'fornecedor' and object %}
  <li role="presentation"><a href="#tab_compras" data-toggle="tab">COMPRAS</a></li>
  {% endif %}
</ul>