{%extends 'base/base.html'%}

{%block title%}Sobre usuário{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid block">
    
    {% include 'base/msg_sucesso.html' %}

    <div class="block-header">
      <h2>USUÁRIO</h2>
    </div>
    <div class="block-content">
      <div class="card">
        <div class="header">
          <h2>
            <a href="{%url 'djangosige.apps.login:usuariosview'%}"><i class="material-icons">&#xE5C4;</i></a>
            <span><b>Usuário: </b>{{user_match.username}}{% if user_match.is_superuser %} (Admin){% endif %}</span>
          </h2>
          <div class="header-btn">
            {%if not user_match.is_superuser%} 
            <form action="{% url 'djangosige.apps.login:deletarusuarioview' user_match.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{user_match.id}}">
              <button class="btn btn-red" type="submit"><i class="material-icons">&#xE872;</i><span> REMOVER</span></button>
            </form>
            {%endif%}
          </div>
        </div>
        <div class="body perfil-user">
            <div class="col-md-3 foto-perfil">  
              {% if user_foto %}
              <img src="/media/{{user_foto}}"/>
              {%else%}
              <img src="/media/imagens/user.png"/>
              {%endif%}
            </div>
            <div class="col-md-8">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Status:</td>
                    <td>{% if user_match.is_superuser %}Administrador{%else%}Usuário{%endif%}</td>
                  </tr>
                  <tr>
                    <td>Nome:</td>
                    <td>{{user_match.first_name}}</td>
                  </tr>
                  <tr>
                    <td>Sobrenome:</td>
                    <td>{{user_match.last_name}}</td>
                  </tr>
                  <tr>
                    <td>Nome de usuário:</td>
                    <td>{{user_match.username}}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{user_match.email}}</td>
                  </tr>

                </tbody>
              </table>

            </div>
            <a href="{% url 'djangosige.apps.login:permissoesusuarioview' user_match.id %}" style="margin:15px;float:right;" class="btn btn-primary">EDITAR PERMISSÕES</a>
        </div>
      </div>
    </div>

    
  </div>
</section>


{%endblock%}