{%extends 'base/base.html'%}

{%block title%}Editar Perfil{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid block">
    <div class="block-header">
      <h2>PERFIL</h2>
    </div>
      
    {% include 'base/form_error_alert.html' %}

    <div class="block-content">
      <div class="card">
        <div class="header">
          <h2>
            <a href="{% url 'djangosige.apps.login:perfilview' %}"><i class="material-icons">&#xE5C4;</i></a>
            EDITAR PERFIL
          </h2>
        </div>

        <div class="body">
          <form role="form" action="" method="post" enctype="multipart/form-data" >
           {% csrf_token %}
           
           {% for field in form %}

           <div class="form-group">
            <div class="form-line">
              <label>{{field.label}}</label>
              {{field}}
            </div>
          </div>
          
          {% endfor %}

          <div class="form-group">
            <label>{{minha_empresa_form.m_empresa.label}}</label>
            <div class="input-group">
              <div class="form-line">
                {{minha_empresa_form.m_empresa}}
              </div>
              <a class="input-group-addon" style="color: green;" href="{% url 'djangosige.apps.cadastro:addempresaview' %}"><i class="material-icons add-new-icon" title="Adicionar empresa">&#xE147;</i></a>
            </div>
          </div>

          <button class="btn btn-success foot-btn" style="margin-right:0px;" type="submit"><i class="material-icons">&#xE3C9;</i><span> ALTERAR</span></button>
        </form>
        
      </div>

    </div>
  </div>
  
</div>
</section>


{%endblock%}