{%extends 'base/base.html'%}

{%block title%}Usuários{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
    <div class="lista-header">
      <h2>USUÁRIOS</h2>
    </div>
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              USUÁRIOS CADASTRADOS
            </h2>
              <div class="header-btn">
                <a href="{% url 'djangosige.apps.login:registrarview' %}" class="btn btn-success"><i class="material-icons">&#xE7FE;</i><span> CRIAR NOVO</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Nome de usuário</th>
                  <th>Nome</th>
                  <th>Sobrenome</th>
                  <th>Status</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
               {% if all_users%}
               {% for usr in all_users %}
               <tr class="clickable-row" data-href="{% url 'djangosige.apps.login:usuariodetailview' usr.id %}">
                <td>{{usr.id}}</td>
                <td>{{usr.username}}</td>
                <td>{{usr.first_name|default_if_none:""}}</td>
                <td>{{usr.last_name|default_if_none:""}}</td>
                <td>{%if usr.is_superuser%}Administrador{%else%}Usuário{%endif%}</td>
                <td class="lista-remove">
                  {%if not usr.is_superuser%}
                  <input type="checkbox" name="{{usr.id}}" id="remover-entrada-{{usr.id}}"/>
                  <label class="remove-entry-label" for="remover-entrada-{{usr.id}}"></label>
                  {%endif%}
                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

    {% include 'base/modal.html' %}

  </div>
</div>

</div>
</section>


{%endblock%}