[flake8]
max-line-length = 120
ignore = E501,W504, E722
exclude =
    .venv,
    .git,
    __pycache__,
    old,
    build,
    dist,
    __init__.py,
    migrations,
    settings.py,
    test_settings.py,
    wsgi.py,
    manage.py
