[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "==3.8"
dj-database-url = "==0.5.0"
geraldo = {file = "https://github.com/thiagopena/geraldo/archive/master.zip"}
pysignfe = {file = "https://github.com/thiagopena/PySIGNFe/archive/master.zip"}
signxml = "==4.2.0"
django = "<=4.3,>=4.2"

[dev-packages]

[requires]
python_version = "3.9"
