django==4.2.26; python_version >= '3.8'

python-decouple==3.8
dj-database-url==0.5.0

https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip

reportlab==4.4.5; python_version >= '3.9' and python_version < '4'
signxml==4.2.0; python_version >= '3.8'
