<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>                   
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Grupo</th>
        <th title="pagamento/vencimento">Data</th>
        <th>Status</th>
        <th>Cliente/Fornecedor</th>
        <th>Valor líquido</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
     {% if all_lancamentos %}
     {% for lancamento in all_lancamentos %}
     <tr class="clickable-row" data-href="{{lancamento.get_edit_url}}">
      <td>{{lancamento.id}}</td>
      <td>{{lancamento.descricao}}</td>
      <td>{{lancamento.get_tipo}}</td>
      <td>{{lancamento.classificacao|default_if_none:""}}</td>
      <td>{% if lancamento.data_pagamento %}{{lancamento.format_data_pagamento}}{% elif lancamento.data_vencimento %}{{lancamento.format_data_vencimento}}{% endif %}</td>
      <td>{% if lancamento.status %}{{lancamento.get_status_display}}{% endif %}</td>
      <td>{% if lancamento.cliente %}{{lancamento.cliente}}{% elif lancamento.fornecedor %}{{lancamento.fornecedor}}{% endif %}</td>
      <td>{{lancamento.format_valor_liquido}}</td>
      <td class="lista-remove">
        <input type="checkbox" name="{{lancamento.id}}" id="remover-lancamento-{{lancamento.id}}"/>
        <label class="remove-entry-label" for="remover-lancamento-{{lancamento.id}}"></label>
      </td>
    </tr>
    {% endfor %}
    {%else%}
    {%endif%}
  </tbody>
</table>
</div>