<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>                   
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Grupo</th>
        <th>Fornecedor</th>
        <th>Valor líquido</th>
        <th>Pagar</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
     {% if all_contaspagar%}
     {% for conta in all_contaspagar %}
     <tr class="clickable-row" data-href="{% url 'djangosige.apps.financeiro:editarcontapagarview' conta.id %}">
      <td>{{conta.id}}</td>
      <td>{{conta.descricao}}</td>
      <td>{{conta.format_data_vencimento|default_if_none:""}}</td>
      <td>{{conta.classificacao|default_if_none:""}}</td>
      <td>{{conta.fornecedor|default_if_none:""}}</td>
      <td>{{conta.format_valor_liquido}}</td>
      <td class="green_td" style="text-align:center;padding:0px;height:100%;"><a href="javascript:void(0);" class="prevent-click-row" id="pagar_conta" style="color:green;height:100%;width:100%;display:block;"><i class="material-icons" style="margin-top:8px;">&#xE227;</i></a></td>
      <td class="lista-remove">
        <input type="checkbox" name="{{conta.id}}" id="remover-entrada-{{conta.id}}"/>
        <label class="remove-entry-label" for="remover-entrada-{{conta.id}}"></label>
      </td>
    </tr>
    {% endfor %}
    {%else%}
    {%endif%}
  </tbody>
</table>
</div>