{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header" style="overflow:visible;">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                {% if add_url %}
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                {% else %}
                <div class="dropdown" style="display: inline-block;float:right;">
                  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Adicionar
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="{% url 'djangosige.apps.financeiro:addpagamentoview' %}">Pagamento</a></li>
                    <li><a href="{% url 'djangosige.apps.financeiro:addcontapagarview' %}">Conta a pagar</a></li>
                    <li><a href="{% url 'djangosige.apps.financeiro:addrecebimentoview' %}">Recebimento</a></li>
                    <li><a href="{% url 'djangosige.apps.financeiro:addcontareceberview' %}">Conta a receber</a></li>
                  </ul>
                </div>
                {% endif %}
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           {% if all_contaspagar %}
           {% include 'financeiro/lancamento/conta_pagar_list_table.html' %}
           {% elif all_contasreceber %}
           {% include 'financeiro/lancamento/conta_receber_list_table.html' %}
           {% elif all_saidas %}
           {% include 'financeiro/lancamento/pagamentos_list_table.html' %}
           {% elif all_entradas %}
           {% include 'financeiro/lancamento/recebimentos_list_table.html' %}
           {% elif all_lancamentos %}
           {% include 'financeiro/lancamento/todos_lancamentos_list_table.html' %}
           {% else %}
           Nenhum registro encontrado
           {% endif %}

      </div>

    </form>

    {% include 'financeiro/lancamento/modal_selecionar_data.html' %}

  </div>
</div>

</div>
</section>


{%endblock%}

{% block js %}
  {% load static %}
  <!-- JQuery Mask Input Js -->
  <script src="{% static 'js/jquery.mask.js' %}"></script>
  
  {% include 'base/load_jqueryui.html' %}

  {% include 'base/datepicker_js.html' %}

  {% include 'base/tooltip_js.html' %}

  <script type="text/javascript">
    var req_urls = {}
    req_urls.gerar_lancamento_url = "{% url 'djangosige.apps.financeiro:gerarlancamento' %}"

    $.Admin.maskInput.maskLancamento();
    $.Admin.lancamentoList.init(req_urls);
  </script>
  
{% endblock %}