{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              {{title_complete}}
            </h2>
              <div class="header-btn">
                <a href="{{add_url}}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Status</th>
                  <th>Fornecedor</th>
                  <th>Data de vencimento</th>
                  <th>Total</th>
                  <th>Gerar pedido</th>
                  <th>Cancelar</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
               {% if all_orcamentos%}
               {% for orcamento in all_orcamentos %}
               <tr class="clickable-row" data-href="{% url 'djangosige.apps.compras:editarorcamentocompraview' orcamento.id %}">
                <td>{{orcamento.id}}</td>
                <td><b>{{orcamento.get_status_display}}</b></td>
                <td>{{orcamento.fornecedor|default_if_none:""}}</td>
                <td>{{orcamento.format_data_vencimento|default_if_none:""}}</td>
                <td>{{orcamento.format_valor_total}}</td>
                {% if orcamento.status == '0' %}
                <td class="green_td" style="text-align:center;padding:0px;height:100%;"><a href="{% url 'djangosige.apps.compras:gerarpedidocompra' orcamento.id %}" class="prevent-click-row" style="color:green;height:100%;width:100%;display:block;"><i class="material-icons" style="margin-top:8px;">&#xE86C;</i></a></td>
                <td class="red_td" style="text-align:center;padding:0px;height:100%;"><a href="{% url 'djangosige.apps.compras:cancelarorcamentocompra' orcamento.id %}" class="prevent-click-row" style="color:red;height:100%;width:100%;display:block;"><i class="material-icons" style="margin-top:8px;">&#xE033;</i></a></td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
                <td class="lista-remove">
                  <input type="checkbox" name="{{orcamento.id}}" id="remover-entrada-{{orcamento.id}}"/>
                  <label class="remove-entry-label" for="remover-entrada-{{orcamento.id}}"></label>
                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}