{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">

          <!--Header-->
          <div class="header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{title_complete}}
            </h2>
            <div class="header-btn">
              <a id="gerar_pdf_compra" href="{% url 'djangosige.apps.compras:gerarpdforcamentocompra' object.id %}" class="btn btn-primary">GERAR PDF</a>
              {% if object.status == '0' %}
              <a id="gerar_pedido_compra" href="{% url 'djangosige.apps.compras:gerarpedidocompra' object.id %}" class="btn btn-success">GERAR PEDIDO</a>
              <a id="cancelar_orcamento_compra" href="{% url 'djangosige.apps.compras:cancelarorcamentocompra' object.id %}" class="btn btn-red">CANCELAR</a>
              {% else %}
              <a id="gerar_copia_orcamento_compra" href="{% url 'djangosige.apps.compras:copiarorcamentocompra' object.id %}" class="btn btn-primary">GERAR CÓPIA DO ORÇAMENTO</a>
              {% endif %}
            </div>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form id="compra_form_edit" role="form" action="" method="post">
            {% csrf_token %}
            
            {% include 'compras/compra_form.html' %}

          </form>

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% include 'compras/compra_jsblock.html' %} 
  
{% endblock %}