<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.ncm.label}}</label>
      {% if form.ncm.errors %}<label class="error">{% for error in form.ncm.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.ncm}}
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.origem.label}}</label><strong style="color:red;"> *</strong>
      {% if form.origem.errors %}<label class="error">{% for error in form.origem.errors %}{{error}}{% endfor %}</label>{% endif %}
      <div class="select-container">
      {{form.origem}}
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="form-line">
      <label>{{form.cest.label}}</label>
      {% if form.cest.errors %}<label class="error">{% for error in form.cest.errors %}{{error}}{% endfor %}</label>{% endif %}
      {{form.cest}}
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
  	<label>{{form.cfop_padrao.label}}</label>
    {% if form.cfop_padrao.errors %}<label class="error">{% for error in form.cfop_padrao.errors %}{{error}}{% endfor %}</label>{% endif %}
    <div class="input-group">
	    <div class="form-line">
	      {{form.cfop_padrao}}
	    </div>
	    <a class="input-group-addon newwindow" style="color: green;" title="Adicionar CFOP" href="{% url 'djangosige.apps.fiscal:addnaturezaoperacaoview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
  	<label>{{form.grupo_fiscal.label}}</label>
    {% if form.grupo_fiscal.errors %}<label class="error">{% for error in form.grupo_fiscal.errors %}{{error}}{% endfor %}</label>{% endif %}
    <div class="input-group">
	    <div class="form-line">
	      {{form.grupo_fiscal}}
	    </div>
	    <a class="input-group-addon newwindow" style="color: green;" title="Adicionar Grupo Fiscal" href="{% url 'djangosige.apps.fiscal:addgrupofiscalview' %}"><i class="material-icons add-new-icon" title="Adicionar">&#xE147;</i></a>
    </div>
  </div>
</div>