{%extends 'base/base.html'%}

{%block title%}Unidade{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    <div class="title-header">
      <h2>UNIDADES</h2>
    </div>
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              UNIDADES CADASTRADAS
            </h2>
              <div class="header-btn">
                <a href="{% url 'djangosige.apps.cadastro:addunidadeview' %}" class="btn btn-success popup" title="Adicionar unidade"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'base/search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>
                  <th>#ID</th>                   
                  <th>Sigla</th>
                  <th>Descrição</th>
                  <th>Remover</th>
                </tr>
              </thead>

              <tbody>
               {% if all_unidades%}
               {% for unidade in all_unidades %}
               <tr class="clickable-row popup" href="{% url 'djangosige.apps.cadastro:editarunidadeview' unidade.id %}">
                <td>{{unidade.id}}</td>
                <td>{{unidade.sigla_unidade}}</td>
                <td>{{unidade.unidade_desc}}</td>
                <td class="lista-remove">
                  <input type="checkbox" name="{{unidade.id}}" id="remover-entrada-{{unidade.id}}"/>
                  <label class="remove-entry-label" for="remover-entrada-{{unidade.id}}"></label>
                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
        </div>

      </div>

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}