<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nome/Razão Social</th>
        <th>CPF/CNPJ</th>
        <th>Estado</th>
        <th>Município</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
      {% if all_transportadoras%}
      {% for transportadora in all_transportadoras %}
      <tr class="clickable-row" data-href="{% url 'djangosige.apps.cadastro:editartransportadoraview' transportadora.id %}">
        <td>{{transportadora.id}}</td>
        <td>{{transportadora.nome_razao_social}}</td>
        <td>{% if transportadora.tipo_pessoa == "PJ" %}{{transportadora.pessoa_jur_info.cnpj|default_if_none:""}}{% else %}{{transportadora.pessoa_fis_info.cpf|default_if_none:""}}{% endif %}</td>
        <td>{% if transportadora.endereco.all.0.uf %}{{transportadora.endereco.all.0.get_uf_display}}{% endif %}</td>
        <td>{{transportadora.endereco.all.0.municipio|default_if_none:""}}</td>
        <td class="lista-remove">
          <input type="checkbox" name="{{transportadora.id}}" id="remover-entrada-{{transportadora.id}}"/>
          <label class="remove-entry-label" for="remover-entrada-{{transportadora.id}}"></label>
        </td>
      </tr>
      {% endfor %}
      {%else%}
      {%endif%}
    </tbody>
  </table>
</div>