<div class="table-responsive">
  <table id="lista-database" class="table table-bordered table-striped lista-table">
    <thead>
      <tr>
        <th>#ID</th>                   
        <th>Data</th>
        <th>Tipo</th>
        <th>Local de origem</th>
        <th>Local de destino</th>
        <th>N° de itens</th>
        <th>Valor total</th>
        <th>Remover</th>
      </tr>
    </thead>

    <tbody>
     {% if all_transferencias %}
     {% for transferencia in all_transferencias %}
     <tr class="clickable-row" data-href="{{transferencia.get_edit_url}}">
      <td>{{transferencia.id}}</td>
      <td>{{transferencia.format_data_movimento}}</td>
      <td>Transferência</td>
      <td>{{transferencia.local_estoque_orig|default_if_none:""}}</td>
      <td>{{transferencia.local_estoque_dest|default_if_none:""}}</td>
      <td>{{transferencia.format_quantidade_itens}}</td>
      <td>{{transferencia.format_valor_total}}</td>
      <td class="lista-remove">
        <input type="checkbox" name="{{transferencia.id}}" id="remover-movimento-{{transferencia.id}}"/>
        <label class="remove-entry-label" for="remover-movimento-{{transferencia.id}}"></label>
      </td>
    </tr>
    {% endfor %}
    {%else%}
    {%endif%}
  </tbody>
</table>
</div>