<!-- Modal detalhes do produto compra -->
<div class="modal fade detalhes_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">INFORMAÇÕES DO PRODUTO</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <!-- DADOS GERAIS -->
          <div class="row">
            <h4 style="border-bottom: 1px solid #afabab;">Dados gerais</h4>
          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Código do produto</label>
                  <span class="form-control" id="id_codigo_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Unidade</label>
                  <span class="form-control" id="id_unidade_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>NCM</label>
                  <span class="form-control" id="id_ncm_modal"></span>
                </div>
              </div>
            </div>

          </div>
          <!-- #DADOS GERAIS -->

          <!-- DADOS DA COMPRA -->
          <div class="row">
            <h4 style="border-bottom: 1px solid #afabab;">Dados da compra</h4>
          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Quantidade</label>
                  <span class="form-control" id="id_quantidade_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Valor unitário</label>
                  <span class="form-control" id="id_valor_unit_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Desconto (R$)</label>
                  <span class="form-control" id="id_desconto_modal"></span>
                </div>
              </div>
            </div>

          </div>
          <!-- #DADOS DA COMPRA -->

          <!-- IMPOSTOS -->
          <div class="row">
            <h4 style="border-bottom: 1px solid #afabab;">Impostos</h4>
          </div>

          <div class="row">

            <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Vl. ICMS (R$)</label>
                  <span class="form-control" id="id_vicms_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <div class="form-line">
                  <label>Vl. IPI (R$)</label>
                  <span class="form-control" id="id_vipi_modal"></span>
                </div>
              </div>
            </div>

          </div>
          <!-- #IMPOSTOS -->

          <!-- Total -->
          <div class="row">
            <h4 style="border-bottom: 1px solid #afabab;">TOTAL</h4>
          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Subtotal (R$)</label>
                  <span class="form-control" id="id_subtotal_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Total impostos (R$)</label>
                  <span class="form-control" id="id_total_impostos_modal"></span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-line">
                  <label>Total (R$)</label>
                  <span class="form-control" id="id_total_modal"></span>
                </div>
              </div>
            </div>

          </div>
          <!-- #Total -->


          <!-- Informacoes adicionais -->
          <div class="row">
            <h4 style="border-bottom: 1px solid #afabab;">Informações adicionais</h4>
          </div>

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-line">
                  <label>Informações Adicionais do Produto</label>
                  <textarea class="form-control" id="id_inf_ad_prod_modal" readonly="True"></textarea>
                </div>
              </div>
            </div>

          </div>
          <!-- #Total -->
          
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
<!-- #Modal detalhes do produto compra -->