{% load static %}
<!-- JQuery Mask Input Js -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

{% include 'base/load_jqueryui.html' %}

{% include 'base/tooltip_js.html' %}

<!-- Datetimepicker Css/Js -->
<link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

{% include 'base/datetimepicker_js.html' %}

<script type="text/javascript">
	var req_urls = {}

	{% if saida %}
	req_urls.info_emit_url = "{% url 'djangosige.apps.cadastro:infoempresa' %}";
	req_urls.info_dest_url = "{% url 'djangosige.apps.cadastro:infocliente' %}"
	req_urls.info_venda_url = "{% url 'djangosige.apps.vendas:infovenda' %}"
	var tipo_nf = 'saida';
	{% elif entrada %}
	req_urls.info_emit_url = "{% url 'djangosige.apps.cadastro:infofornecedor' %}"
	req_urls.info_dest_url = "{% url 'djangosige.apps.cadastro:infoempresa' %}"
	req_urls.info_compra_url = "{% url 'djangosige.apps.compras:infocompra' %}"
	var tipo_nf = 'entrada';
	{% endif %}

  	$.Admin.notaFiscalForm.init(req_urls, tipo_nf);
  	$.Admin.maskInput.maskNotaFiscal();  
</script>