{%extends 'base/base.html'%}

{%block title%}{{title_complete|title}}{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card">
          {% include 'base/msg_error.html' %}
          <b>{% include 'base/msg_sucesso.html' %}</b>
          <!--Header-->
          <div class="header" style="overflow:visible;">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a> {{title_complete}}
            </h2>
            <div class="header-btn">
              {% if saida %}
              <div class="dropdown" style="display: inline-block;float:right;">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Ações
                <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                  <li><a href="{% url 'djangosige.apps.fiscal:validarnotafiscal' object.id %}">Validar XML</a></li>
                  <li><a href="{% url 'djangosige.apps.fiscal:emitirnotafiscal' object.id %}">Emitir Nota</a></li>
                  <li><a href="{% url 'djangosige.apps.fiscal:consultarnota' object.id %}">Consultar Nota</a></li>
                  <li><a href="{% url 'djangosige.apps.fiscal:baixarnota' object.id %}">Baixar Nota</a></li>
                  <li><a href="{% url 'djangosige.apps.fiscal:cancelarnotafiscal' object.id %}">Cancelar Nota</a></li>
                  <li><a href="{% url 'djangosige.apps.fiscal:copiarnotafiscal' object.id %}">Clonar Nota</a></li>
                  {% if object.mod == '55' %}
                  <li><a href="{% url 'djangosige.apps.fiscal:gerardanfe' object.id %}">Gerar DANFE</a></li>
                  {% elif object.mod == '65' %}
                  <li><a href="{% url 'djangosige.apps.fiscal:gerardanfce' object.id %}">Gerar DANFCE</a></li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
            </div>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% include 'fiscal/nota_fiscal/nota_fiscal_form.html' %}

          </form>

          {% if saida %}
          {% include 'fiscal/nota_fiscal/modal_detalhe_produto_venda.html' %}
          {% elif entrada %}
          {% include 'fiscal/nota_fiscal/modal_detalhe_produto_compra.html' %}
          {% endif %}

        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% include 'fiscal/nota_fiscal/nota_fiscal_jsblock.html' %}
  
{% endblock %}