{%extends 'base/base.html'%}

{%block title%}Plano de Contas{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    {% include 'base/title_header.html' %}
    
    {% include 'base/msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
        {% csrf_token %}
        <div class="header">
          <h2>
            PLANO DE CONTAS
          </h2>
          <div class="header-btn">
            <a href="{% url 'djangosige.apps.financeiro:addgrupoview' %}" class="btn btn-success"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
            <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
          </div>
          <div>
            <small>O plano de contas é dividido em entradas (recebimentos) e saídas (pagamentos). Adicione grupos e subgrupos a essas categorias.</small>
          </div>
        </div>

        <div class="body">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_entradas" data-toggle="tab">ENTRADA</a></li>
            <li role="presentation"><a href="#tab_saidas" data-toggle="tab">SAIDA</a></li>
          </ul>

            <div class="tab-content">
              <!-- Tab ENTRADAS -->
              <div role="tabpanel" class="tab-pane active" id="tab_entradas">

                <table class="table table-bordered lista-table">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Descrição</th>
                      <th>Categoria</th>
                      <th>Remover</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% if all_grupos_entrada %}
                  {% for ge in all_grupos_entrada %}
                  <tr class="clickable-row plano-grupo-row" data-href="{% url 'djangosige.apps.financeiro:editargrupoview' ge.id %}">
                    <td class="prevent-click-row" data-toggle="collapse" data-target=".accordion-{{ge.id}}"><i style="vertical-align:inherit;" class="material-icons">&#xE5C5;</i>{{ge.codigo}}</td>
                    <td>{{ge.descricao}}</td>
                    <td>{{ge.get_tipo_grupo_display}}</td>
                    <td class="lista-remove">
                      <input type="checkbox" name="{{ge.id}}" id="remover-entrada-{{ge.id}}"/>
                      <label class="remove-entry-label" for="remover-entrada-{{ge.id}}"></label>
                    </td>
                  </tr>
                    {% for sub in ge.subgrupos.all %}
                  <tr class="plano-subgrupo-row accordion-{{ge.id}} in">
                    <td>{{sub.codigo}}</td>
                    <td>{{sub.descricao}}</td>
                    <td>{{sub.get_tipo_grupo_display}}</td>
                    <td class="lista-remove">
                      <input type="checkbox" name="{{sub.id}}" id="remover-entrada-{{sub.id}}"/>
                      <label class="remove-entry-label" for="remover-entrada-{{sub.id}}"></label>
                    </td>
                  </tr>
                    {% endfor %}

                  {% endfor %}
                  {%else%}
                  {%endif%}
                </tbody>
              </table>

              </div>
              <!-- #Tab ENTRADAS -->

              <!-- Tab SAIDAS -->
              <div role="tabpanel" class="tab-pane" id="tab_saidas">

              <table class="table table-bordered lista-table">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Descrição</th>
                      <th>Categoria</th>
                      <th>Remover</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% if all_grupos_saida %}
                  {% for gs in all_grupos_saida %}
                  <tr class="clickable-row plano-grupo-row" data-href="{% url 'djangosige.apps.financeiro:editargrupoview' gs.id %}">
                    <td class="prevent-click-row" data-toggle="collapse" data-target=".accordion-{{gs.id}}"><i style="vertical-align:inherit;" class="material-icons">&#xE5C5;</i>{{gs.codigo}}</td>
                    <td>{{gs.descricao}}</td>
                    <td>{{gs.get_tipo_grupo_display}}</td>
                    <td class="lista-remove">
                      <input type="checkbox" name="{{gs.id}}" id="remover-entrada-{{gs.id}}"/>
                      <label class="remove-entry-label" for="remover-entrada-{{gs.id}}"></label>
                    </td>
                  </tr>
                    {% for sub in gs.subgrupos.all %}
                  <tr class="plano-subgrupo-row accordion-{{gs.id}} in">
                    <td>{{sub.codigo}}</td>
                    <td>{{sub.descricao}}</td>
                    <td>{{sub.get_tipo_grupo_display}}</td>
                    <td class="lista-remove">
                      <input type="checkbox" name="{{sub.id}}" id="remover-entrada-{{sub.id}}"/>
                      <label class="remove-entry-label" for="remover-entrada-{{sub.id}}"></label>
                    </td>
                  </tr>
                    {% endfor %}

                  {% endfor %}
                  {%else%}
                  {%endif%}
                </tbody>
              </table>

              </div>
              <!-- #Tab SAIDAS -->

            </div>
          </div>

         

        </div>

        </form>

      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% include 'base/load_jqueryui.html' %}

  {% include 'base/tooltip_js.html' %}
  
{% endblock %}