{% load static %}
<!-- JQuery Mask Input Js -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

{% include 'base/load_jqueryui.html' %}

{% include 'base/datepicker_js.html' %}

{% include 'base/tooltip_js.html' %}

 <script type="text/javascript">
    var req_urls = {}
    req_urls.info_cliente_url = "{% url 'djangosige.apps.cadastro:infocliente' %}"
    req_urls.info_transportadora_url = "{% url 'djangosige.apps.cadastro:infotransportadora' %}"
    req_urls.info_produto_url = "{% url 'djangosige.apps.cadastro:infoproduto' %}"
    req_urls.info_pagamento_url = "{% url 'djangosige.apps.vendas:infocondpagamento' %}"
    $.Admin.vendaForm.init(req_urls);
  </script>