{% load static %}
<!-- JQuery Mask Input Js -->
<script src="{% static 'js/jquery.mask.js' %}"></script>

{% include 'base/load_jqueryui.html' %}

{% include 'base/datepicker_js.html' %}

{% include 'base/tooltip_js.html' %}

 <script type="text/javascript">
    var req_urls = {}
    req_urls.info_produto_url = "{% url 'djangosige.apps.cadastro:infoproduto' %}"
    req_urls.info_venda_url = "{% url 'djangosige.apps.vendas:infovenda' %}"
    req_urls.info_compra_url = "{% url 'djangosige.apps.compras:infocompra' %}"
    $.Admin.movimentoEstoqueForm.init(req_urls);
    $.Admin.maskInput.maskMovimentoEstoque();
    
  </script>